h5
  i.fa.fa-phone
  | Phone
span.yolo (805) 646-5109
h5
  i.fa.fa-fax
  | Fax
span.yolo (805) 646-3519
h5 
  i.fa.fa-envelope
  | Email
span.yolo frames.tteye@sbcglobal.net
h5
  a(href="https://www.facebook.com/Topa-Topa-Optometry-Inc-228993670538313/")
    i.fa.fa-facebook-official
    | Facebook
