h5 
  i.fa.fa-clock-o
  | Hours
table.hours.yolo
  tr
    td Monday
    td 8:30 - 5:30
  tr
    td Tuesday
    td 9:30 - 5:30
  tr
    td Wed - Fri
    td 8:30 - 5:30
  tr
    td Saturday
    td By appointment
  tr
    td Sunday
    td Closed
