h5 
  i.fa.fa-clock-o
  | Hours
table.hours.yolo
  tr
    td Monday
    td 8:00 - 5:00
  tr
    td Tuesday
    td 8:00 - 5:00
  tr
    td Wednesday
    td 9:00 - 5:00
  tr
    td Thursday
    td 8:00 - 5:00
  tr
    td Friday
    td 8:00 - 5:00
  tr
    td Saturday
    td By appointment
  tr
    td Sunday
    td Closed
