extends ../templates/main.jade

block title
  title Topa Topa Optometry

block content
  .row
    .col-md-12
      h2 Contact us
    .col-md-4
      include ../includes/contact
    .col-md-4
      include ../includes/address
      include ../includes/hours
