extends ../templates/main.jade

block title
  title Topa Topa Optometry

block content
  .row
    .col-md-12
      h2 Our frames
      p We have hundreds of choices from Maui Jim, Gucci, Dior, Silhouette, and much more.
      p Frames for every personality and budget.
      p Listed below are a few of the brands we carry.
      a(href="http://www.oakley.com", target="_blank")
        img.logo(src="assets/images/oakley.png")
      a(href="http://www.mauijim.com", target="_blank")
        img.logo(src="assets/images/mauijim.png")
      a(href="http://www.silhouette.com", target="_blank")
        img.logo(src="assets/images/silhouette.png")
      a(href="http://www.ray-ban.com", target="_blank")
        img.logo(src="assets/images/rayban.png")
      a(href="http://www.lafont.com", target="_blank")
        img.logo(src="assets/images/lafont.png")
      a(href="http://www.jimmychoo.com", target="_blank")
        img.logo(src="assets/images/jimmychoo.png")
      a(href="http://www.dior.com", target="_blank")
        img.logo(src="assets/images/dior.png")
      p We encourage you to visit the brands above and browse for frames. We can order them for you.
