extends ../templates/main.jade

block title
  title Topa Topa Optometry

block content
  .row
    .col-sm-8
      <div id="slider" class="swipe">
      <div class="swipe-wrap">
      <div><img src="assets/images/5.jpg"></div>
      <div><img src="assets/images/1.jpg"></div>
      <div><img src="assets/images/7.jpg"></div>
      <div><img src="assets/images/12.jpg"></div>
      <div><img src="assets/images/17.jpg"></div>
      <div><img src="assets/images/19.jpg"></div>
      </div>
      </div>
    .col-sm-4
      .info.sidebar
        h4 Location and hours
        include ../includes/address
        include ../includes/hours

  .row
    .col-sm-8.bam
      h4 Our mission
      div.yolo.boom
        | We enrich the lives of our patients by providing state of the art, professional eye healthcare and superior quality prescription eyewear in a personalized, friendly, caring atmosphere.
      h5
        a(href="https://www.demandforced3.com/b/etile_reviews_popup.jsp?d3cp_exid=topaeye&d3cp_source=My%20Website", target="_blank")
          i.fa.fa-trophy
          |  Read our reviews
    .col-sm-4.sidebar
      h4 Get in touch
      include ../includes/contact
