extends ../templates/main.jade

block title
  title Topa Topa Optometry

block content
  .row
    .col-md-7
      h2 Our Services
      ul
        li Comprehensive eye examinations
        li Individualized contact lens fitting and services
        li Diagnosis and treatment of eye diseases, including glaucoma, macular degeneration, diabetes, hypertension, and cataracts.
        li Treatment and managemnt of Dry Eyes Disease, tearing, and eye irritations
        li Minor ocular surgeries including the removal of superficial foreign bodies (e.g., metal particles)
        li LASIK, refractive and cataract surgery Consultation and Co-management
        li Eyeglass repairs and adjustments
        li Nutritional counseling for the prevention and treatment of macular degeneration and dry eye disease.
    .col-md-5
      h4 OptoVue I-Wellness Program
      p Included in our ocular photography and OCT scanning, we now offer OptoVue's I-Wellness Program that helps screen for early signs of macular degeneration and glaucoma.
      h5 Insurance information
      p We are providers for VSP, Medical Eye Services, some Eyemed plans, Scan, Medicare and more.

